.adotar-container{
  background-image: url(/images/fundo_patas.svg);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px);
  padding-bottom: 20px;
}
.banner-contato{
  height: 100%;
  display: flex;
}
.banner-contato img{
  min-width: 100vw;
}

.titulo-adotar{
  margin-left: 50px;
}

.titulo-adotar h2{
  font-size: 40px;
  color: #654833;
  margin-bottom: 10px;
  font-weight: 800;
  font-family: 'Raleway';
  
}

.titulo-adotar p{
  font-size: 24px;
  font-family: nunito;
  font-weight: 600;
}

.titulo-botao-adotar{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  gap: 800px;
}

.botao-modal-anunciar{
  padding: 3px;
  width: 250px;
  height: 60px;
  font-weight: 600;
  font-size: 24px;
  font-family: 'nunito', sans-serif;
  background-color: #84644D;
  color: #F5F5F5;
  border: 2px #484848;
  border-radius: 12px;
  cursor: pointer;
  margin-right: 100px;
}

.banner-contato img {
  width: 100%;
  height: auto;
  /* filter: blur(8px); */
  transition: filter 0.5s ease;
}

.banner-contato img.loaded {
  filter: blur(0);
}


@media (max-width: 1024px ) {
  .titulo-adotar {
    margin-left: 20px;
  }


  .titulo-adotar h2 {
    font-size: 32px;
  }


  .titulo-adotar p {
    font-size: 20px;
  }


  .titulo-botao-adotar {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }


  .botao-modal {
    width: 160px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    margin: 0;
  }



}