.container-favoritos {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/fundo_patas.svg);
    padding-bottom: 1rem;
}

.banner-favoritos {
    height: 100%;
    display: flex;
    min-width: 100vw;
}

.banner-favoritos img {
    width: 100%;
}

.titulo-favoritos {
    padding: 20px;
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.titulo-favoritos h2 {
    font-size: 40px;
    color: #654833;
    margin-bottom: 10px;
    font-weight: 800;
    font-family: 'Raleway';
    /* margin-top: 30px; */

}

.titulo-favoritos p {
    font-size: 24px;
    font-weight: 600;
}

.sem-pets-fav {
    font-size: 24px;
    font-weight: bold;
    color: #84644D;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #F6F4F1;
    border: 2px solid #AD947E;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.card-favoritos {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}

.pet-card-fav {
    width: 350px;
    height: 475px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.2s;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: transform 0.2s, box-shadow 0.2s;
}

.pet-card-fav:hover {
    transform: scale(1.02);
}

.pet-image {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}

.pet-info-card-fav {
    padding: 15px;
    text-align: center;
}

.pet-info-card-fav h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}

.pet-info-card-fav p {
    font-size: 18px;
    margin: 5px 0;
    color: black;
}

.botoes-card-fav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Paginação */
.paginacao-favoritos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 50px;
  }
  
  .paginacao-favoritos button {
    display: flex; 
    align-items: center; 
    gap: 3px; 
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    color: #654833;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
  
  }
  
  /* .paginacao-favoritos button:hover:not(:disabled) {
    background-color: #eee;
  } */
  
  .paginacao-favoritos button.active {
    background-color: #654833;
    color: #fff;
    font-weight: bold;
  }
  
  .paginacao-favoritos button:disabled {
    background-color: #fff;
    color: rgba(8, 8, 8, 0.5);
  }
  
  .icon-seta-pag{
    font-size: 20px;
  }

/* Responsividade */
@media (max-width: 768px) {
    .container-favoritos {
        padding: 20px;
        background-size: cover;
    }


    .titulo-favoritos h2 {
        font-size: 28px;
    }


    .titulo-favoritos p {
        font-size: 18px;
    }


    .sem-pets-fav {
        font-size: 18px;
        padding: 8px 16px;
    }


    .card-favoritos {
        gap: 40px;
    }


    .pet-card-fav {
        width: 100%;
        height: auto;
    }


    .pet-image {
        height: 200px;
    }


    .pet-info-card-fav h3 {
        font-size: 18px;
    }


    .pet-info-card-fav p {
        font-size: 16px;
    }


    .botoes-card-fav {
        flex-direction: column;
        gap: 5px;
    }
}


/* Para telas menores que 480px (celulares pequenos) */
@media (max-width: 480px) {
    .titulo-favoritos h2 {
        font-size: 29px;
    }


    .titulo-favoritos p {
        font-size: 17px;
    }


    .titulo-favoritos {
        align-items: center;
    }


    .sem-pets-fav {
        font-size: 16px;
        padding: 6px 12px;
    }


    .pet-image {
        height: 150px;
    }


    .pet-info-card-fav h3 {
        font-size: 16px;
    }


    .pet-info-card-fav p {
        font-size: 14px;
    }


    .pet-info-card-fav {
        padding: 0px;
    }


    .pet-card-fav {
        width: 44%;
        height: auto;
    }


    .card-favoritos {
        gap: 20px;
    }


    .botoes-card-fav {
        flex-direction: row;
        gap: 10px;
    }
}