.body-adm {
    background-color: #AD947E;
    min-height: 100vh;
}


/* Navbar Normal */
.navbar-adm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100vw;
    padding: 10px;
    height: 120px;
    background-color: #84644D;
    /* border-bottom-left-radius: 40px; */
    /* border-bottom-right-radius: 40px; */
}

.nav-side {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-img {
    width: 120px;
}

.nav-img:hover {
    cursor: pointer;
}

.painel-administrativo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #FBFBFB;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.3mm;
    font-weight: bold;
    margin: 0;
}

.icon-adm-tools {
    color: #543A28;
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
}


/* Segunda Navbar (com links) */
.navbar-adm-links {
    display: flex;
    justify-content: center;
}

.navbar-adm-links2 {
    display: flex;
    min-width: 70%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 110px;
    background-color: #FBFBFB;
    /* border-bottom-left-radius: 40px; */
    /* border-bottom-right-radius: 40px; */
    border-radius: 40px;
    margin-bottom: 40px;
}

.links-gerenciamento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 150px;
    /* min-width: 100vw; */
}

.links-adm {
    color: #654833;
    text-decoration: none;
    font-family: 'nunito', sans-serif;
    font-weight: bold;
    transition: color 0.5s;
}

.icon-link1,
.icon-link2,
.icon-link3,
.icon-link4 {
    color: #543A28;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.icon-link1:hover,
.icon-link2:hover,
.icon-link3:hover,
.icon-link4:hover {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}


/* Título (gerenciamento) */
.h2-adm {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #FBFBFB;
    text-decoration: none;
    font-family: 'nunito', sans-serif;
    font-weight: bold;
}


/* Container onde o ADM poderá gerenciar */
.container-adm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-adm2 {
    min-width: 60%;
    /* height: 63vh; */
    background-color: #FBFBFB;
    background-image: url(/images/fundo_patas.svg);
    padding: 20px;
}

.gerenciar-title2 {
    font-size: 24px;
    font-weight: bold;
    color: #84644D;
    text-align: center;
    margin-top: 200px;
    padding: 10px 20px;
    background-color: #F6F4F1;
    border: 2px solid #AD947E;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
}