@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.home-container {
    min-height: calc(100vh - 390px);
    display: flex;
    flex-direction: column;
}

.meio-home {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    overflow-x: hidden;
}

.banner-home {
    min-width: 100vw;
}

.texto-home {
    align-items: center;
    margin: auto;
    justify-content: flex-start;
}

.texto-home h2 {
    font-size: 65px;
    color: #654833;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
}

.texto-home p {
    width: 51vw;
    font-size: 32px;
    font-family: Nunito;
    font-weight: 600;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.dog-home {
    height: 85vh;
}

.botoes-home button {
    height: 85px;
    width: 400px;
    margin-left: 1vw;
}

.botoes-home button:hover {
    cursor: pointer;
}

.botao-adotar {
    border-radius: 14px;
    border: 2px solid var(--cor-1);
    background-color: #ffffff00;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: .05em;
    color: #84644D;
    transition: all 0.3s ease;
}

.botao-adotar:hover {
    background-color: #DDD2C9;
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.botao-cadastrar {
    border-radius: 14px;
    border: none;
    background-color: #84644D;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: .05em;
    color: #EBE5E0;
    transition: all 0.3s ease;
}

.botao-cadastrar:hover {
    background-color: #755742;
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.titulo-home {
    display: flex;
    flex-direction: column;
}


.botao-swal-login,
.botao-swal-cancelar {
    height: 45px;
    width: 120px;
    font-size: 16px;
    font-family: Nunito;
}

.botao-swal-login:hover,
.botao-swal-cancelar:hover {
    transition: 0.3s;
}

.info-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 5%;
}

.card-info {
    background-color: #DDD2C9;
    border: 1px solid #634833;
    border-radius: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 530px;
    padding-top: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.card-info img {
    width: 150px;
    height: auto;
    margin-left: 5px;
    margin-top: auto;

    object-fit: contain;
}

.texto-info h3 {
    font-size: 1.5rem;
    color: #634833;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.texto-info p {
    font-size: 0.95rem;
    color: #2e2217;
    line-height: 1.4;
}

@media (max-width: 1024px) {
    .texto-home h2 {
        font-size: 50px;
        /* Reduz tamanho do título */
    }




    .texto-home p {
        font-size: 26px;
        width: 70vw;
    }




    .dog-home {
        height: 65vh;
    }




    .botoes-home button {
        width: 300px;
        height: 70px;
        font-size: 28px;
    }
}


@media (max-width: 768px) {
    .meio-home {
        flex-direction: column;
        /* Empilha os elementos verticalmente */
        align-items: center;
        min-width: 100%;
    }




    .banner-home {
        min-width: 100%;
    }




    .texto-home {
        text-align: center;
        padding: 20px;
    }




    .texto-home h2 {
        font-size: 40px;
    }




    .texto-home p {
        font-size: 22px;
        width: 80vw;
    }




    .dog-home {
        height: 50vh;
        margin-left: 25vh;


    }


    .botoes-home {
        display: flex;
        gap: 10px;
    }


    .card-info {
        margin: 10px auto;
    }


    .botoes-home button {
        width: 250px;
        height: 60px;
        font-size: 24px;
        margin-left: 0;
    }
}


/* Para telas menores que 480px (celulares pequenos) */
@media (max-width: 480px) {
    .texto-home {
        padding: 10px;
    }

    .texto-home h2 {
        font-size: 30px;
    }




    .texto-home p {
        font-size: 18px;
        width: 90vw;
    }




    .dog-home {
        width: 90vw;
        margin-left: 10vw;
    }




    .botoes-home button {
        width: 240px;
        height: 50px;
        font-size: 20px;
    }


    .card-info {
        margin-top: 20px;
    }


    .texto-info h3 {
        font-size: 1.2rem;
    }


    .texto-info p {
        font-size: 0.8rem;
    }


    .botoes-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}