.container-perfil {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 120px);
    background-image: url(/images/fundo_patas.svg);
}

.info-perfil {
    background-color: #FFFFFF;
    width: 60vw;
    padding: 20px;
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.info-perfil button:hover {
    cursor: pointer;
}

.titulo-barra h2 {
    color: #484848;
    font-size: 32px;

}

.titulo-barra h4 {
    font-weight: 500;
    font-size: 20px;
    font-weight: 400;
}

.user-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
}

.user-icon {
    font-size: 100px;
    color: #84644D;
}

.img-preview-perfil {
    display: flex;
}

.img-preview-perfil img {
    border: solid 3px #84644D;
    border-radius: 100%;
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
}

.info-perfil p {
    font-size: 20px;
    margin-bottom: 8px;

}

.barra-perfil {
    height: 8px;
    width: 230px;
    margin-top: 2px;
    margin-bottom: 10px;

}

.container-pets {
    width: 40vw;
    min-height: 30vh;
}

.inputs-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.inputs-perfil input {
    height: 60px;
    width: 400px;
    border-radius: 12px;
    border: solid #AD947E 1px;
    box-shadow: 0px 0px 1px;
    background-color: #FBFBFB;
    margin-bottom: 3vh;
    outline: none;
    padding: 10px;
    font: 18px Roboto;
}

.input-edit input {
    height: 60px;

}

.inputs-perfil-1,
.inputs-perfil-2 {
    display: flex;
    flex-direction: column;
}



.dadoPerma {
    color: #84644D;
}

.salvar-dados,
.editar-dados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.botao-salvar-perfil {
    width: 50%;
    height: 60px;
    font-size: 24px;
    background-color: #84644D;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.025em;
    font-family: Roboto;
    margin-top: 30px;
    margin: auto;
}

.botao-editar-perfil {
    width: 50%;
    height: 60px;
    font-size: 24px;
    background-color: #84644D;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.025em;
    font-family: Roboto;
    margin-top: 30px;
    margin: auto;

}

.botao-sair-logout {
    width: 100%;
    height: 50px;
    padding: 9px;
    font-size: 24px;
    background-color: #84644D;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.025em;
    font-family: Roboto;
    margin-bottom: 30px;
}

.sair-conta {
    display: flex;
    justify-content: center;
    align-items: center;

}


.icon-logout {
    margin-left: 5px;
}

.excluir-conta {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    margin: auto;
}


.excluir-conta h4 {
    font-size: 28px;
    color: #484848;
    text-align: center;
}



.botao-excluir-perfil {
    height: 60px;
    width: 300px;
    background-color: #EBE5E0;
    border: 2px solid #84644D;
    border-radius: 10px;
    color: #84644D;
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.input-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-edit input {
    height: 50px;
    width: 360px;
    border-radius: 12px 0px 0px 12px;
    border-color: #AD947E #ffffff00 #AD947E #AD947E;
    border-right: none;
    outline: none;
}

.icon-lapis {
    display: flex;
    height: 60px;
    border: solid #AD947E 1px;
    border-radius: 0px 12px 12px 0px;
    border-color: #AD947E #AD947E #AD947E #ffffff00;
    border-left: none;
    background-color: #FBFBFB;
    font-size: 33px;
    color: #747373;
    padding-right: 4px;
}

.container-configuracoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dadoPerma {
    color: #84644D;
}

.inputs-perfil input {
    height: 60px;
}

.input-nome input {
    width: 400px;
    height: 60px;
}

.input-perma input {
    width: 433px;
}

.inputs-perfil p {
    font-size: 22px;
}