.NavbarAdm{
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 120px;
    background-color: #84644D;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.h1Adm{
    margin-right: 850px;
    color: #FBFBFB;
    text-decoration: none;
    font-family: 'nunito', sans-serif;
    font-weight: bold;
}

.NavbarAdm-links{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-left: 280px;
    padding: 10px;
    height: 110px;
    background-color: #FBFBFB;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 80px;
}
.links-geneciamento{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    min-width: 100vw;
}
.linksAdm{
    color: #654833;
    text-decoration: none;
    font-family: 'nunito', sans-serif;
    font-weight: bold;
    transition: color 0.5s;
}
.linksAdm:hover {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}
/* .linksAdm.active {
    font-weight: 700;
    color: #fbfbfb;
    border-bottom: 2px solid #fbfbfb; 
} */
.iconAdm{
    color: #543A28;
    font-size: 30px;
    margin-top: 10px;
}


.containeradm{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin-left: 370px;
    padding: 10px;
    height: 500px;
    background-color: #FBFBFB;
    border-radius: 40px;
}