.filtro-container {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    background-color: #84644D;
    height: 15vh;
    align-items: center;
    justify-content: center;
    gap: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    /* border-radius: 10px; */
}

.select-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.filtro-container label {
    color: white;
    font-size: 20px;
    font-family: Raleway;
    font-weight: 6cd 00;
}

.filtro-container select {
    background-color: #AD947E;
    border: 2px solid #84644D;
    height: 40px;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 20px;
    font-family: Nunito;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    outline: none;
}

.filtro-container select:hover {
    background-color: #9C7A5E;
    border-color: #6B4A2E;
    outline: none;

}

.filtro-container select:focus {
    background-color: #9C7A5E;
    border-color: #6B4A2E;
    outline: none;
}

.botao-limpar{
    background-color: #AD947E;
    color: white;
    font-size: 20px;
    padding: 0 10px;
    height: 40px;
    cursor: pointer;
    font-family: nunito;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.botao-limpar:hover{
    background-color: #9C7A5E;
}

