.pesquisa-container {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 50px;
    background-color: var(--cor-3);
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border: 1px solid #654833;
}


.pesquisa-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.pesquisa-container:focus-within {
    background-color: #e0e0e0;
}
.barraDePesquisa {
    flex: 1;
    height: 100%;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background-color: var(--cor-3);
    color: black;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

.barraDePesquisa::placeholder {
    font-size: 16px;
    color: #654833;
}

.barraDePesquisa:focus {
    outline: none;
    background-color: #e0e0e0;
}


.lupaIcon {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.lupaIcon:hover{
    color: #484848
}

@media (max-width: 768px) {
    .pesquisa-container {
        width: 100%;
        padding: 10px;
    }
    .barraDePesquisa {
        font-size: 14px;
    }
    .lupaIcon {
        font-size: 20px;
    }
}
