.conteiner-cad-ong{
    display: flex;
    flex-direction: row;
    min-height: calc(113vh - 120px);
    background-image: url(/images/fundo_patas.svg);
}

.conteiner-info-ong{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.2);
    width: 63%;

}

.texto-cadastro-ong{
    display: flex;
    flex-direction: row;
    /* border: solid; */
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
}

.texto-cadastro-ong-img{
    display: flex;
    flex-direction: column;
    /* border: solid; */
    align-items: center;
    margin-left: 1%;
}

.texto-cadastro-ong-img h2{
    margin-top: 1px;
    font-family: Koh Santepheap;
    font-size: 36px;
    margin-right: 30px;
    margin-bottom: 2%;
}

.texto-cadastro-ong-img img{
    height: 12px;
    width: 98%;
}
.botao-voltar-cad{
    background-color: #84644D;
    color: #FFFFFF;
    /* margin-bottom: 10px; */
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.inputs-cad-ong{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* border: solid; */
    /* margin-top: 1%; */
}

.inputs-cad-ong label{
    margin-top: 3%;
    font-family: inter;
    font-size: 18px;
    
}


.coluna-1-inputs{
display: flex;
flex-direction: column;
/* border: solid; */
}

.coluna-2-inputs{
display: flex;
flex-direction: column;
/* border: solid; */
}

.coluna-3-inputs{
display: flex;
flex-direction: column;
/* border: solid; */
}



.termos-ong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: inter;
    margin-top: 1%;
    margin-bottom: 1%;
}

.termos-ong p{
    font-family: inter;
}

.conteiner-botao-cad-ong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-cad-ong{
    flex-direction: column;
    justify-content: center;
    width: 340px;
    padding: 4%;
    margin-top: 3%;
    /* margin-left: 4%; */
    /* height: 60px; */
    font-size: 19px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-cad-ong:focus
{
    border: 1px solid #84644D;
    background-color: #f3f3fc;
    transition: 0.3s;
    outline: 1px;
}

.input-descricao-cad-ong{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* margin-left: 4%; */
    width: 90%;
    height: 120px;
    /* padding: 9%; */
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-descricao-cad-ong:focus
{
    border: 1px solid #84644D;
    background-color: #f3f3fc;
    transition: 0.3s;
    outline: 1px;
}


.descricao-ong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inter;
    margin-top: 1%;
    /* border: solid; */
}

.descricao-ong label{
    margin-bottom: 1%;
}

.descricao-ong label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ong-foto{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    text-align: center;

}

.ong-foto label{
    display: flex;
    flex-direction: column;
    /* border: solid; */
}

.ong-foto input{
    justify-content: center;
    align-items: center;
}

.botao-cad-ong{
    width: 25%;
    height: 65px;
    font-weight: 600;
    font-size: 24px;
    background-color: #84644D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-cad-ong:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
    background-color: #735b4b;
}

.user-icon{
    height: 80%;
}