.ongs-container {
  padding: 50px;
  text-align: center;
}

.cardOng-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
}

.ong-card {
  width: 350px;
  height: 430px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s;
  background-color: #fff;
  border: 1px solid #ddd;
  transition: transform 0.2s, box-shadow 0.2s;
}

.ong-card:hover {
  transform: scale(1.02);
}

.ong-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.ong-info-card {
  padding: 15px;
  text-align: center;
}

.ong-info-card h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
}

.ong-info-card p {
  font-size: 18px;
  margin: 5px 0;
  color: black;
}

.botoes-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.botao-info-ong {
  cursor: pointer;
  height: 45px;
  width: 180px;
  text-align: center;
  background-color: #9C7A5E;
  border: none;
  border-radius: 8px;
  color: #F5F5F5;
  font-size: 16px;
  font-weight: bold;
  font-family: nunito;
  letter-spacing: 0.01em;
  /* margin-left: 45px; */
}
.botao-editar-ong {
  color: #9C7A5E;
  font-size: 28px;
  cursor: pointer;
  transition: 0.5s ease;
}
.botao-excluir-ong {
  color: #9C7A5E;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}

.sem-ONGs {
  font-size: 24px;
  font-weight: bold;
  color: #84644D;
  text-align: center;
  margin-top: 200px;
  padding: 10px 20px;
  background-color: #F6F4F1;
  border: 2px solid #AD947E;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .cardOng-container {
    gap: 40px;
  }


  .ong-card {
    width: 300px;
    height: auto;
  }


  .ong-info-card h3 {
    font-size: 18px;
  }


  .ong-info-card p {
    font-size: 16px;
  }


  .botao-info-ong {
    width: 150px;
    font-size: 14px;
  }


  .sem-ONGs {
    font-size: 20px;
    padding: 10px;
  }
}


/* Estilos para telas muito pequenas (exemplo: largura máxima de 480px) */
@media (max-width: 480px) {
  .cardOng-container {
    gap: 20px;
  }


  .ong-card {
    width: 140px;
    height: 220px;
  }


  .ong-info-card h3 {
    font-size: 11px;
    margin-top: -2px;
  }


  .ong-info-card p {
    font-size: 14px;
  }


  .ong-info-card{
    font-size: 13px;
    padding: 13px;
    margin-top: 1px;
  }


  .botao-info-ong {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-size: 12px;
  }


  .sem-ONGs {
    font-size: 18px;
    padding: 8px;
  }


  .ong-image{
    width: 90%;
    height: 100px;
  }
}


/* Paginação */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 50px;
}

.pagination button {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #654833;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover:not(:disabled) {
  background-color: #eee;
}

.pagination button.active {
  background-color: #654833;
  color: #fff;
  font-weight: bold;
}

.pagination button:disabled {
  background-color: #fff;
  color: rgba(8, 8, 8, 0.5);
}

.icon-setaPag {
  font-size: 20px;
}