.seletores-cores-coleira {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
}

.seletor-cor-tecido,
.seletor-cor-argola,
.seletor-cor-presilha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-seletor-cor {
    font-weight: 600;
    margin-bottom: 6px;
    color: #654833;
}

.opcoes-cores-tecido,
.opcoes-cores-argola,
.opcoes-cores-presilha {
    display: flex;
    gap: 10px;
}

.botao-cor {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;
}

.botao-cor:hover {
    border: 3px solid #333;
}

.botao-cor.ativo {
    border: 3px solid #333;
    box-shadow: 0 0 0 2px #BDA795;
}

.canvas-coleira {
    background: rgb(233, 231, 231);
}
