.conteiner_modal {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    min-height: 90vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 65vw;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-left: 25px solid #654833;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 40px;
    overflow: hidden;
}

.modal_conteiner {
    position: fixed;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
}


.titulo-barra-pet img{
    width: 380px;
}

.conteiner_modal label,
.conteiner_modal input,
.conteiner_modal select {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3d2b1e;
}

.conteiner_modal input,
.conteiner_modal select {
    text-align: center;
    height: 50px;
    width: 400px;
    border-radius: 8px;
    padding: 5px;
    background-color: #EBE5E0;
    outline: none;
    border: 1px solid #3d2b1e;
    margin-bottom: 10px;
}

.conteiner_modal input:focus,
.conteiner_modal textarea:focus,
.conteiner_modal select:focus {
    border-color: #84644D;
    outline: none;
}

.botao_modal {
    background-color: #84644D;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botoes-cad-pet {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.cad-pet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-cad-pet {
    display: flex;
    flex-direction: row;
    gap: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo-cad-pet h2 {
    font-size: 32px;
    color: #484848;
}

.barra-pet {
    height: 10px;
}

.add-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.img-preview{
    border: solid 3px #84644D;
    border-radius: 4px;
    display: flex;
}
.img-preview img{
    height: 120px;
    width: fit-content;
    max-width: 400px;
}
.label-inpt-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.iconImg {
    cursor: pointer;
}

.inputs-pet {
    display: flex;
    flex-direction: row;
    gap: 150px;
}
.botao-add-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid #3d2b1e;
    border-radius: 4px;
    padding: 5px 10px;
    white-space: nowrap;
    cursor: pointer;
    height: 40px;
    width: 150px;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #EBE5E0;
    color: #3d2b1e;
    transition: 0.3s;
}



.radio-pet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto; 
    gap: 10px;   
}

.radio-pet input {
    margin: auto;
}

.radio-pet p {
   text-align: center;
   align-items: center;
}

.radio-pet input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #D9D9D9;
    /* border-radius: 50%; */
    background-color: #D9D9D9;
    cursor: pointer;
    margin-right: 5px;
}

.radio-pet input[type="radio"]:checked {
    background-color: #84644D;
    border-color: #3d2b1e;
}

.radio-pet input {
    height: 20px;
    color: #D9D9D9;
}

#selectGenero{
    width: 400px;
    height: 50px;
}

.descricao-pet-cad {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.descricao-pet-cad input {
    text-align: center;
    font-size: 18px;
    height: 150px;
    background-color: #EBE5E0;
    width: 700px;
    border: #84644D 2px solid;
    border-radius: 10px;
}

.botao-cad-pet {
    width: 80%;
    height: 70px;
    background-color: #84644D;
    border: none;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 26px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin-top: 5px;
    /* margin-bottom: 10px; */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao-cad-pet:hover {
    background-color: #6b4f3a;
    transform: scale(1.03);
}

.inpts-pet {
    display: flex;
    flex-direction: column;
}

.label-inpt {
    display: flex;
    flex-direction: column;
}

.linha-inpt {
    display: flex;
    flex-direction: row;
    gap: 150px;
}



.confirmation-modal {
    position: fixed;
    top: 10vh;
    right: 30vw;
    background-color: #967863;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translate(-50%, -60%);
    }
    10% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    90% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -60%);
    }
  }