.fundo-janela-ong {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.container-janela-ong {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    min-width: 60%; 
    max-width: 500px;
    min-height: 70%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: #654833 25px solid;
}

.titulo-ong-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    color: #654833;
}

.botao-fechar-ong {
    background-color: #654833;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.botao-fechar-ong:hover {
    background-color: #84644D;
}

.img-ong {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

.logo-ong {
    width: 12em; 
    height: 12em;
    object-fit: cover;
    border-radius: 8px;
}

.info-ong {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.dados-ong {
    background-color: #EBE5E0;
    border: 2px solid #654833;
    border-radius: 8px;
    padding: 15px;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.contato-redes {
    display: flex;
    justify-content: space-between;
    gap: 00px;
    padding: 0 50px;
}
.redesSociais-ong{
    margin-right: 100px;
}

.contato-ong, .redesSociais-ong {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.contato-ong h3, .redesSociais-ong h3 {
    color: #654833;
    font-size: 30px;
}
.descricao-ong h3{
    margin-top: 50px;
    margin-right: 50px;
    color: #654833;
    font-size: 30px;
}
.ctt-ong {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: solid; */
}

.dados-ong strong {
    font-size: 21px;
}
.dados-ong p {
    font-size: 20px;
    color: black;
}

.icone-info-ong {
    font-size: 30px;
    color: #654833;
    transform: translateY(5px);
}
.icone-wpp-ong, .icone-email-ong, .icone-mapa-ong {
    font-size: 28px;
    color: #654833;
    transform: translateY(5px);
}


.iconeInsta {
    font-size: 25px;
    color: #654833;
    transform: translateY(5px);
}

@media (max-width: 768px) {
    .container-janela-ong {
        width: 95%; 
        padding: 15px;
        height: 60%;
    }

    .titulo-ong-modal {
        font-size: 1.2em; 
    }

    .logo-ong {
        width: 10em; 
        height: 10em;
    }

    .dados-ong {
        padding: 8px;
        gap: 8px;
    }

    .telefone-ong h3,
    .telefone-denuncia h3,
    .descricao-ong h3 {
        font-size: 1em; 
    }

    .telefone-ong p,
    .telefone-denuncia p,
    .descricao-ong p {
        font-size: 0.9em;
    }
}