.pet_modal_conteiner {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.conteiner_modal_pet {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90vw;
    overflow-y: auto;
    max-height: 90vh;
    /* border: solid; */
    border-left: #654833 25px solid;
    align-items: center;
    padding: 20px;
}

.titulo-pet-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.titulo-pet-modal h2 {
    font-size: 32px;
    color: #654833;
}

.botao-fechar-pet {
    background-color: #654833;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.closeIcon {
    color: white;
    font-size: 30px;
}

.card-pet-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    /* border: solid; */
}

.modal-pet-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 70vh;
    margin: auto;
    justify-content: space-between;
    /* border: solid; */
    padding: 10px;
}

.modal-pet-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: space-between;
    /* border: solid; */
    padding: 10px;
}

.detalhes-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.barra-pet-modal {
    width: 100%;
    height: 3px;
    margin-bottom: 20px;
}

.img-modal-pet {
    height: 300px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 4px #484848;
}

.container-pet-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.detalhes-pet {
    display: flex;
    flex-direction: row;
    /* text-align: start; */
    justify-content: center;
    text-transform: capitalize;
    gap: 50px;
}

.detalhePet {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 10px; */
}

.detalhes-pet p,
strong {
    color: #654833;
    font-size: 20px;
    font-weight: bold;
}

.detalhes-pet h4 {
    color: black;
    font-size: 20px;
    font-weight: normal;
    
}



.descricao-pet {
    background-color: #EBE5E0;
    border: #654833 solid 2px;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    height: 300px;
    width: 37vw;
    text-transform: initial;
    font-size: 24px;
}

.descPet{
    font-size: 20px;
}


.desc-title {
    color: #654833;
    font-size: 26px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
}
.desc-title-2 {
    color: #654833;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    text-align: start;
    margin-bottom: 5px;
    width: 100%;
    margin-top: 15px;
}

.info-title {
    color: #654833;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}

.info-container {
    background-color: #EBE5E0;
    border: #654833 solid 2px;
    border-radius: 8px;
    height: 30vh;
    text-transform: initial;
    text-align: start;
    padding: 15px;
    width: 40vw;


}

.info-doador-modal {
    background-color: #EBE5E0;
    border: #654833 solid 2px;
    border-radius: 8px;
    padding: 20px 0px 0px 20px;
    margin-top: 20px;
    /* text-align: start; */
    height: 300px;
    width: 30vw;
    text-transform: initial;
}



.info-doador-modal h2 {
    color: #654833;
    margin-bottom: 10px;
    font-size: 30px;
}

.adotarTXT {
    font-size: 20px;
    color: #654833;
    margin-bottom: 7px;
}

.info-doador-modal p {
    font-size: 20px;
}

.info-doador {
    display: flex;
    flex-direction: column;
    /* text-align: start; */
    justify-content: space-evenly;
}

.info-doador p {
    color: #654833;
    font-size: 24px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 5px;
}

.dados-doador {
    color: black;
    font-size: 20px;
    font-weight: normal;
}

.icon_wpp,
.iconEmail {
    color: #654833;
    font-size: 50px;
    transition: 0.3s;
}

.iconMap {
    color: #654833;
    font-size: 40px;
    transition: 0.3s;
}
.icon_wpp:hover {
    color: #1d8a45;
}

.iconEmail:hover {
    color: #a6352a;
}

.iconMap:hover {
    color: #2e2925;

}

.links-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}