.conteiner_modal {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    min-height: 55vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 55vw;
    /* max-width: 600px; */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 1px solid #3d2b1e;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

.conteiner_modal input,
.conteiner_modal textarea,
.conteiner_modal select {
    /* width: 100%; */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}


.conteiner_modal input:focus,
.conteiner_modal textarea:focus,
.conteiner_modal select:focus {
    border-color: #84644D;
    outline: none;
}

.botao_modal {
    background-color: #84644D;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botoes-cad-pet {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.modal_conteiner {
    position: fixed;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.cad-pet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-cad-pet {
    display: flex;
    flex-direction: row;
    gap: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo-cad-pet h2 {
    font-size: 32px;
    color: #484848;
}

.barra-pet {
    height: 10px;
}

.add-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
    color: #A3A3A3;
    /* box-shadow: 1px 1px 2px #545454; */
    border: solid #84644D 2px;
    height: 15vh;
    width: 17vw;
    border-radius: 10px;
    padding: 10px;
    background-color: #F5F5F5;
    margin-bottom: 30px;
}

.preview-image {
    width: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.iconImg {
    cursor: pointer;
}

.inputs-pet {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.inputs-pet input,
.linha-inpt select {
    height: 45px;
    width: 300px;
    margin-bottom: 30px;
    border: #84644D 1px solid;
    border-radius: 10px;
    background-color: #EBE5E0;
    outline: none;
    padding: 5px;
    font-size: 18px;
}

.inptImgPet {
    border: #84644D 1px solid;
    border-radius: 10px;
    background-color: #EBE5E0;
    outline: none;
    padding: 5px;
    font-size: 16px;
    height: 50px;
    width: 360px;
    text-align: center;
}

.radio-pet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto; 
    gap: 10px;   
}

.radio-pet input {
    margin: auto;
}

.radio-pet p {
   text-align: center;
   align-items: center;
}

.radio-pet input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #D9D9D9;
    /* border-radius: 50%; */
    background-color: #D9D9D9;
    cursor: pointer;
    margin-right: 5px;
}

.radio-pet input[type="radio"]:checked {
    background-color: #84644D;
    border-color: #3d2b1e;
}

.radio-pet input {
    height: 20px;
    color: #D9D9D9;
}
#selectGenero{
    width: 300px;
    height: 45px;
}
.genero-pet {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 5vh;
    /* border: solid; */
}

.genero-pet select{
    height: 45px;
}
.descricao-pet-cad {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.descricao-pet-cad input {
    text-align: center;
    font-size: 18px;
    height: 150px;
    background-color: #EBE5E0;
    width: 700px;
    border: #84644D 2px solid;
    border-radius: 10px;
}

.botao-cad-pet {
    width: 80%;
    height: 70px;
    background-color: #84644D;
    border: none;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 26px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao-cad-pet:hover {
    background-color: #6b4f3a;
    transform: scale(1.03);
}

.inpts-pet {
    display: flex;
    flex-direction: column;
}

.label-inpt {
    display: flex;
    flex-direction: column;
}

.linha-inpt {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.termos-cadastro-pet {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.termos-cadastro-pet p {
    font-size: 18px;
    /* border: solid; */
}

.termos-pet {
    font-family: roboto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-termos {
    font-size: 18px;
    text-decoration: none;
    color: #84644D;
    width: 200px;
    margin-left: 5px;
}

.termos-pet input {
    transform: scale(1.3);
    margin-right: 15px;
}