.pet_modal_container {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(2px);
    /* background-color: rgba(0, 0, 0, 0.2); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.container_modal_pet {
    background-color: #fff;
    border-radius: 10px;
    width: 90vw;
    overflow-y: auto;
    max-height: 90vh;
    border-left: #654833 25px solid;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container_modal_pet {
    animation: fadeIn 0.15s ease-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    10% {
        opacity: 0.1;
        transform: scale(0.82);
    }
    20% {
        opacity: 0.2;
        transform: scale(0.84);
    }
    30% {
        opacity: 0.3;
        transform: scale(0.86);
    }
    40% {
        opacity: 0.4;
        transform: scale(0.88);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.9);
    }
    60% {
        opacity: 0.6;
        transform: scale(0.92);
    }
    70% {
        opacity: 0.7;
        transform: scale(0.94);
    }
    80% {
        opacity: 0.8;
        transform: scale(0.96);
    }
    90% {
        opacity: 0.9;
        transform: scale(0.98);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.titulo-pet-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.titulo-pet-modal h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #6b4f3a;
    text-align: center;
    margin-bottom: 10px;
}

/* .botao-fechar-pet {
    background-color: #654833;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
} */
.icon-fechar-denuncia {
    color: #84644D;
    border: none;
    font-size: 4.5rem;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.icon-fechar-denuncia:hover {
    color: #6b4f3a;
    transform: scale(1.05);
}

/* .closeIcon {
    color: white;
    font-size: 30px;
} */

.card-pet-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    /* border: solid; */
}

.modal-pet-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 70vh;
    margin: auto;
    justify-content: space-between;
    /* border: solid; */
    padding: 10px;
}

.modal-pet-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: space-between;
    /* border: solid; */
    padding: 10px;
}

.detalhes-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.barra-pet-modal {
    width: 100%;
    height: 3px;
    margin-bottom: 20px;
}

.img-modal-pet {
    height: 300px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 4px #484848;
}

.container-pet-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.detalhes-pet {
    display: flex;
    flex-direction: row;
    /* text-align: start; */
    justify-content: center;
    text-transform: capitalize;
    gap: 50px;
}

.detalhePet {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 10px; */
}

.detalhes-pet p,
strong {
    color: #84644D;
    font-size: 20px;
    font-weight: bold;
}

.detalhes-pet h4 {
    color: black;
    font-size: 20px;
    font-weight: normal;
    
}



.descricao-pet {
    background-color: #EBE5E0;
    border: #654833 solid 2px;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    height: 300px;
    width: 37vw;
    text-transform: initial;
    font-size: 24px;

    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.descPet{
    font-size: 20px;
    text-align: start;

}


.desc-title {
    color: #654833;
    font-size: 26px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
}
.desc-title-2 {
    color: #84644D;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    text-align: start;
    margin-bottom: 5px;
    width: 100%;
    margin-top: 15px;
}

.info-title {
    color: #654833;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}

.info-container {
    background-color: #EBE5E0;
    border: #654833 solid 2px;
    border-radius: 8px;
    height: 30vh;
    text-transform: initial;
    text-align: center;
    padding: 15px;
    width: 40vw;

    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    
}
.pet-tag-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

.pet-tag{
    font-size: 1.2rem;
    background-color: #f0efee;
    border: solid 1px #654833;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    color: #6b4f3a;
    /* font-family: 'Nunito'; */
    /* font-family: nunito; */
}
.info-doador-modal {
    background-color: #EBE5E0;
    border: #654833 solid 2px;
    border-radius: 8px;
    padding: 20px 0px 0px 20px;
    /* margin-top: 20px; */
    /* text-align: start; */
    min-height: 300px;
    width: 40vw;
    text-transform: initial;

    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.info-condicoes-pet{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.info-condicoes{
    font-size: 20px;
}



.info-doador-modal h2 {
    color: #654833;
    margin-bottom: 10px;
    font-size: 30px;
}

.adotarTXT {
    font-size: 20px;
    color: #654833;
    margin-bottom: 7px;
}

.info-doador-modal p {
    font-size: 20px;
}

.info-doador-container {
    display: flex;
    flex-direction: column;
    /* text-align: start; */
    justify-content: space-evenly;
    /* border: solid; */
}

.info-doador-container h4 {
    color: #84644D;
    font-size: 24px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 5px;
}

.info-doador {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.dados-doador {
    color: black;
    font-size: 20px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.dados-endereco {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* border: solid; */
}

.info-endereco {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon_wpp,
.iconEmail {
    color: #84644D;
    font-size: 50px;
    transition: 0.3s;
}

.iconMap {
    color: #84644D;
    font-size: 40px;
    transition: 0.3s;
}
.icon_wpp:hover {
    color: #2aad5a;
}

.iconEmail:hover {
    color: #ce483c;
}

.iconMap:hover {
    color: #4285F4;

}

.links-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.titulo-pet {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Denúncia */
.texto-denunciar-pet {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    font-weight: bold;
    gap: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: #654833;
}

.icon-denuncia-pet{
    font-size: 25px;
}

.texto-denunciar-pet p{
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: bold;
    margin-top: 3px;
    transition: background-color 0.3s ease;
}

.texto-denunciar-pet:hover {
    color: #ce483c;
    transition: color 0.3s ease;
}


@media (max-width: 768px) {
    .container_modal_pet {
        width: 95vw;
        padding: 15px;
    }

    .titulo-pet-modal h2 {
        font-size: 24px;
    }




    .card-pet-container {
        flex-direction: column;
        gap: 10px;
    }




    .img-modal-pet {
        height: 200px;
    }




   
    .info-container,
    .info-doador-modal {
        width: 90%;
        font-size: 18px;
    }




    .descricao-pet{
        width: 90%;
        font-size: 18px;
    }


    .links-contato {
        flex-direction: column;
        gap: 15px;
    }




    .icon_wpp,
    .iconEmail,
    .iconMap {
        font-size: 40px;
    }
}




@media (max-width: 480px) {
    .container_modal_pet {
        width: 100%;
        padding: 10px;
    }




    .titulo-pet-modal h2 {
        font-size: 20px;
    }




    .img-modal-pet {
        height: 150px;
    }




    .detalhes-pet {
        gap: 20px;
    }


    .info-container,
    .info-doador-modal {
        width: 90%;
        font-size: 16px;
        margin-left: -30px;
        margin: 10px;
    }




    .descricao-pet{
        width: 93%;
        font-size: 16px;
        margin-top: 20px;
    }


    .links-contato {
        flex-direction: row;
        gap: 10px;
    }




    .icon_wpp,
    .iconEmail,
    .iconMap {
        font-size: 30px;
    }


    .detalhes-pet p, strong{
        font-size: 17px;
    }


    .detalhes-pet h4{
        font-size: 14px;
    }


    .descPet{
        font-size: 16px;
    }


    .pet-tag{
        font-size: 16px;
    }


    .info-title{
        font-size: 21px;
    }


    .info-doador-modal p{
        font-size: 17px;
    }


    .info-doador-modal h2{
        font-size: 24px;
        margin-left: -20px;
    }


    .info-doador-modal p{
        font-size: 17px;
        margin-left: -20px;
    }


    .titulo-pet-modal h2{
        font-size: 28px;
    }


    .barra-pet-modal{
        width: 50%;
        height: 7px;
        margin-left: -170px;
        margin-top: -30px;
    }


    .botao-fechar-pet{
        width: 40px;
        height: 40px;
        font-size: 20px;
        padding: 5px;
        margin-top: 20px;
    }
}
