.modal-excluir-user {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container-excluir-user {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  padding: 20px;
  width: 600px;
  height: 300px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 0.15s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  10% {
    opacity: 0.1;
    transform: scale(0.82);
  }

  20% {
    opacity: 0.2;
    transform: scale(0.84);
  }

  30% {
    opacity: 0.3;
    transform: scale(0.86);
  }

  40% {
    opacity: 0.4;
    transform: scale(0.88);
  }

  50% {
    opacity: 0.5;
    transform: scale(0.9);
  }

  60% {
    opacity: 0.6;
    transform: scale(0.92);
  }

  70% {
    opacity: 0.7;
    transform: scale(0.94);
  }

  80% {
    opacity: 0.8;
    transform: scale(0.96);
  }

  90% {
    opacity: 0.9;
    transform: scale(0.98);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.botoes-excluir-user {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.botao-modal-excluir-user,
.botao-modal-cancelar-user {
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 50px;
  width: 120px;
  font-family: nunito;
  transition: 0.3s ease;
}

.botao-modal-cancelar-user {
  background-color: #84644D;
  color: #EBE5E0;
}

.botao-modal-excluir-user {
  background-color: #EBE5E0;
  border: 1px solid #6b4f3a;
  color: #333;
}

.botao-modal-excluir-user:hover {
  background-color: #b3aba5;
  transition: 0.3s;
}

.botao-modal-cancelar-user:hover {
  background-color: #6e533f;
}

.texto-excluir-user h1 {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}

.texto-excluir-user p {
  font-size: 22px;
  text-align: center;
  color: #333;
}