.fundo-modal-dados-entrega {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.container-modal-dados-entrega {
  background-color: #fffaf6;
  border-radius: 14px;
  padding: 30px 40px;
  width: 60vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #5c3b1e;
  border-left: 14px solid #654833;
}