.modal-logout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.container-modal-logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 29vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 30vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.meio-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.texto_logout h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.botoes-logout {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.botao-modal-logout,
.botao-cancelar-logout {
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    width: 120px;
    font-family: nunito;
    transition: 0.3s ease;
}


.botao-cancelar-logout {
    background-color: #84644D;
    color: #EBE5E0;
}

.botao-modal-logout {
    background-color: #EBE5E0;
    border: 1px solid #6b4f3a;
    color: #333;
}

.botao-modal-logout:hover {
    background-color: #b3aba5;
    transition: 0.3s;
}

.botao-cancelar-logout:hover {
    background-color: #6e533f;
}

@media (max-width: 768px) {
    .container-modal-logout {
        width: 80vw;
        min-height: 40vh;
        padding: 20px;
    }




    .texto_logout h1 {
        font-size: 22px;
    }




    .botao-modal-logout,
    .botao-cancelar-logout {
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
}




@media (max-width: 480px) {
    .container-modal-logout {
        width: 90vw;
        min-height: 10vh;
    }




    .texto_logout h1 {
        font-size: 19px;
        margin-top: 20px;
    }




    .botoes-logout {
        width: 120%;
    }




    .botao-modal-logout,
    .botao-cancelar-logout {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }
}