.modal-overlay-coleiras {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-modal-personalizar-coleiras {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.15s ease-in-out;
    height: 70vh;
    width: 74vw;
    gap: 0;
}


.container-modal-personalizar-coleiras .etapa-1-coleira,
.container-modal-personalizar-coleiras .etapa-2-coleira,
.container-modal-personalizar-coleiras .etapa-3-coleira,
.container-modal-personalizar-coleiras .etapa-4-coleira {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding: 16px;
    width: 50%;
    height: 100%;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); */
    min-height: 70vh;
    border-left: none;
}






.visualizador-3d-fixo {
    display: flex;
    width: 50%;
    height: 100%;
    /* border: solid 1px #ddd; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 16px;


}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }


    10% {
        opacity: 0.1;
        transform: scale(0.82);
    }


    20% {
        opacity: 0.2;
        transform: scale(0.84);
    }


    30% {
        opacity: 0.3;
        transform: scale(0.86);
    }


    40% {
        opacity: 0.4;
        transform: scale(0.88);
    }


    50% {
        opacity: 0.5;
        transform: scale(0.9);
    }


    60% {
        opacity: 0.6;
        transform: scale(0.92);
    }


    70% {
        opacity: 0.7;
        transform: scale(0.94);
    }


    80% {
        opacity: 0.8;
        transform: scale(0.96);
    }


    90% {
        opacity: 0.9;
        transform: scale(0.98);
    }


    100% {
        opacity: 1;
        transform: scale(1);
    }
}




.container-titulo-modal-personalizar-coleira {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #84644D;
    /* border: solid; */
    /* padding-bottom: 8rem; */
    min-height: auto;
}


.etapa-1-coleira .container-titulo-modal-personalizar-coleira {
    justify-content: flex-end;
}


.etapa-1-coleira .btn-fechar-modal-personalizar-coleira {
    margin-left: 40%;
}


.titulo-etapa-personalizar-coleira {
    font-size: 2.3rem;
    font-weight: 600;
}


.btn-fechar-modal-personalizar-coleira {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}


.btn-fechar-modal-personalizar-coleira:hover {
    color: #84644D;
    transition: 0.2s;
}


.btn-voltar-etapa-personalizar-coleira {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}


.meio-modal-personalizar-coleira {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    width: 100%;
    gap: 16px;
    margin-top: 16px;
    /* border: solid; */
}


.imagem-modal-personalizar-coleira {
    width: 50%;
}


.img-coleira-perso {
    max-width: 100%;
    /* border: solid; */
}




.btn-avancar-etapa-personalizar-coleira {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #84644D;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    cursor: pointer;
    width: 8vw;
}




.opcoes-coleira {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: solid 1px #ddd;
    gap: 20px;
    background-color: #F5F5F5;
    flex: 1;
}


.opcoes-coleira label {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-opcoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* border: solid; */
}


.opcoes-modelo,
.opcoes-tamanho,
.opcoes-gps,
.opcoes-cores,
.opcoes-medalha,
.opcoes-desenho {
    display: flex;
    gap: 10px;
}


.titulo-opcoes-coleira p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #654833;
    margin-bottom: 8px;
}






.container-modal-personalizar-coleiras label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0725em #EBE5E0;
    letter-spacing: .05em;
    color: #6b4f3a;
    text-align: center;
    transition: background-color .3s ease;
    border-radius: 6px;
    font-size: 1.3rem;
}


.opcoes-coleira input[type="radio"] {
    display: none;
}


/* #com-gps {
    background-color: #7e6959;
    color: #fff;
    box-shadow: 0 0 0 0.0725em #EBE5E0;
} */




.opcoes-coleira input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0425em #6b4f3a;
    background-color: #f3f3fc;
    color: #6b4f3a;
}


#status-pendente:checked+span {
    background-color: #f3f3fc;
}


#status-analise:checked+span {
    background-color: #ffe5b4;
}


#status-resolvido:checked+span {
    background-color: #d4edda;
}


.opcoes-coleira input[type="radio"]:checked+span {
    animation: subirDescer 0.6s ease;
}


.etapas-personalizar-coleira {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
}


.visor-etapas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.visor-etapas img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}


.elipse-clicavel {
    cursor: pointer;
}


.container-opcoes-selecionadas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* gap: 10px; */
    text-align: center;
    background-color: #F5F5F5;
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: solid 1px #ddd;
    flex: 1;
    min-height: 40vh;

}


.container-opcoes-selecionadas p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #654833;
}


.container-opcoes-selecionadas span {
    font-size: 1.4rem;
    color: #84644D;
    /* margin-top: 5px; */
}


.opcao-selecionada {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}


#cores-tecido, #cores-presilha {
    padding-bottom: 15px;
}


/* .linha-opcoes-selecionadas { */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; */
    /* gap: 10px; */
    /* padding-bottom: 10px; */
/* } */




.swal2-popup {
    font-size: 1.4rem;
}


.swal2-title {
    font-size: 1.8rem;
}


.swal2-html-container {
    font-size: 1.4rem;
}


.swal2-confirm,
.swal2-cancel {
    font-size: 1.3rem;
    padding: 10px 20px;
    font-family: 'Nunito';
}

