/* Fundo escurecido atrás do modal */
.overlay-entrega {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Container principal do modal */
.container-entrega {
  background-color: #fffaf6;
  border-radius: 14px;
  padding: 30px 40px;
  width: 60vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #5c3b1e;
  border-left: 14px solid #654833;
}

/* Cabeçalho */
.header-entrega {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.icon-location {
  color: #654833;
  font-size: 3em;
  margin-right: 5px;
}

.title-entrega {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
  color: #654833;
}

/*Botão de fechar */
.entrega-close {
    color: #654833;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 3.6rem;
}

.entrega-close:hover {
    color: #6b4f3a;
    transform: scale(1.05);
}

/* Formulário */
.form-entrega {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Colunas */
.column-entrega,
.form-entrega > div {
  width: 48%;
  display: flex;
  flex-direction: column;
}

/* Inputs */
.input-entrega {
  background-color: #f4ede7;
  border: 1px solid #654833;
  border-radius: 11px;
  padding: 6px 10px;
  margin-bottom: 20px;
  font-size: 24px;
  outline: none;
  transition: border-color 0.2s;
}

.input-entrega:focus {
  color: #654833;
}

/* Labels */
label {
  font-size: 20px;
  font-weight: 550;
  margin-bottom: 3px;
  color: #84644D;
}

/* Botões */
.botoes-entrega {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os botões */
  margin-top: 35px;
  margin-bottom: 15px;
}

.button-confirm,
.button-back {
  font-size: 23px;
  font-weight: bold;
  border-radius: 9px;
  padding: 13px 23px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Botão principal (marrom sólido) */
.button-confirm {
  background-color: #84644D;
  color: #fff;
  border: none;
}

.button-confirm:hover {
  background-color: #6f523f;
}

/* Botão secundário (borda marrom) */
.button-back {
  background-color: transparent;
  color: #84644D;
  border: 2px solid #84644D;
  padding: 13px 76px;
}

.button-back:hover {
  background-color: #f5f1ee;
}
