.editar-pet-background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.editar-pet-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    min-height: 55vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 55vw;
    /* max-width: 600px; */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 1px solid #3d2b1e;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

.linha-edit{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.editar-pet-container-1,
.editar-pet-container-2{
    display: flex;
    flex-direction: column;
}