.modal_container_excluir_conta {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.container_modal_excluir_conta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 33vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 30vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.15s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    10% {
        opacity: 0.1;
        transform: scale(0.82);
    }
    20% {
        opacity: 0.2;
        transform: scale(0.84);
    }
    30% {
        opacity: 0.3;
        transform: scale(0.86);
    }
    40% {
        opacity: 0.4;
        transform: scale(0.88);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.9);
    }
    60% {
        opacity: 0.6;
        transform: scale(0.92);
    }
    70% {
        opacity: 0.7;
        transform: scale(0.94);
    }
    80% {
        opacity: 0.8;
        transform: scale(0.96);
    }
    90% {
        opacity: 0.9;
        transform: scale(0.98);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.meio-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.botoes-excluir-conta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.botao-modal-excluir-conta, .botao-modal-cancelar-excluir-conta {
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    width: 120px;
    font-family: nunito;
    transition: 0.3s ease;
}

.botao-modal-cancelar-excluir-conta{
    background-color: #84644D;
    color: #EBE5E0;
}
.botao-modal-excluir-conta{
    background-color: #EBE5E0;
    border: 1px solid #6b4f3a;
    color: #333;
}
.botao-modal-excluir-conta:hover {
    background-color: #b3aba5;
    transition: 0.3s;
}

.botao-modal-cancelar-excluir-conta:hover {
    background-color: #6e533f;
}


.texto_excluir_conta h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.texto_excluir_conta{
    width: 110%;
    /* margin-top: 60px; */
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

