.modal-excluir-pet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.container-excluir-pet {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    padding: 20px;
    width: 600px;
    height: 300px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.botoes-excluir-pet {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.botao-modal-excluir-pet, .botao-modal-cancelar-pet {
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    width: 120px;
    font-family: nunito;
    transition: 0.3s ease;
}

.botao-modal-cancelar-pet{
    background-color: #84644D;
    color: #EBE5E0;
}
.botao-modal-excluir-pet{
    background-color: #EBE5E0;
    border: 1px solid #6b4f3a;
    color: #333;
}
.botao-modal-excluir-pet:hover {
    background-color: #b3aba5;
    transition: 0.3s;
}

.botao-modal-cancelar-pet:hover {
    background-color: #6e533f;
}



.botao-excluir-anuncio{
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
}

.botao-excluir-anuncio button{
    padding: 10px;
}

.texto-excluir-pet{
    margin-top: 10px;
}
.texto-excluir-pet h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.texto-excluir-pet p{
    /* margin-top: 80px;  */
    font-size: 1.1rem;
    text-align: center;
    color: #333;
}