.editar-pet-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.editar-pet-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    height: 95vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 65vw;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 30px;
    border-left: 25px solid #654833;
    overflow-y: auto;
    animation: fadeIn 0.15s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    10% {
        opacity: 0.1;
        transform: scale(0.82);
    }

    20% {
        opacity: 0.2;
        transform: scale(0.84);
    }

    30% {
        opacity: 0.3;
        transform: scale(0.86);
    }

    40% {
        opacity: 0.4;
        transform: scale(0.88);
    }

    50% {
        opacity: 0.5;
        transform: scale(0.9);
    }

    60% {
        opacity: 0.6;
        transform: scale(0.92);
    }

    70% {
        opacity: 0.7;
        transform: scale(0.94);
    }

    80% {
        opacity: 0.8;
        transform: scale(0.96);
    }

    90% {
        opacity: 0.9;
        transform: scale(0.98);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.editar-pet-container h2 {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #3d2b1e;
    margin-bottom: 20px;
}

.editar-pet-container label {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #3d2b1e;
}

.linha-edit {
    display: flex;
    flex-direction: row;
    gap: 140px;
}

.editar-pet-container-1,
.editar-pet-container-2 {
    display: flex;
    flex-direction: column;
}

.botoes-edit-pet {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;
}

.botao-edit-salvar {
    background-color: #84644D;
    color: #EBE5E0;
    transition: 0.3s;
}

.botao-edit-fechar {
    background-color: #EBE5E0;
    color: #3d2b1e;
    transition: 0.3s;
}

.botao-edit-salvar,
.botao-edit-fechar {
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
    width: 160px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.botao-edit-salvar:hover {
    background-color: #3d2b1e;
    color: white;
    transform: scale(1.05);
}

.botao-edit-fechar:hover {
    background-color: rgb(217, 213, 213);
    transform: scale(1.05);
}

.linha-edit input,
.linha-edit select {
    text-align: center;
    height: 50px;
    width: 400px;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #EBE5E0;
    outline: none;
    border: 1px solid #3d2b1e;
}

.coluna-edit {
    display: flex;
    flex-direction: column;
}

.edit-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.edit-desc input {
    width: 940px;
    height: 100px;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    text-wrap: wrap;
    background-color: #EBE5E0;
    outline: none;
    border: 1px solid #3d2b1e;

}

.edit-imagem-pet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 200px;
    margin: auto;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-img-pet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid #3d2b1e;
    border-radius: 4px;
    padding: 5px 10px;
    white-space: nowrap;
    cursor: pointer;
    height: 40px;
    width: 150px;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: bold;
    background-color: #EBE5E0;
    color: #3d2b1e;
    transition: 0.3s;
}


@media (max-width: 768px) {
    .editar-pet-container {
        width: 90vw;
        height: auto;
        padding: 15px;
    }


    .linha-edit {
        gap: 20px;
    }


    .linha-edit input,
    .linha-edit select {
        width: 100%;
    }


    .edit-desc input {
        width: 100%;
        height: 80px;
        font-size: 16px;
    }


    .tags-container-edit input {
        width: 100%;
    }


    .botoes-edit-pet {
        gap: 15px;
    }


    .botao-edit-salvar,
    .botao-edit-fechar {
        width: 100%;
        font-size: 18px;
    }
}


/* Estilos para telas muito pequenas (exemplo: largura máxima de 480px) */
@media (max-width: 480px) {
    .editar-pet-container {
        width: 90vw;
        padding: 10px;
        max-height: 95%;
    }


    .editar-pet-container label {
        font-size: 16px;
    }


    .editar-pet-container h2 {
        font-size: 24px;
        margin-top: 30px;
    }



    .linha-edit select {
        width: 170%;
        height: 30px;
        font-size: 14px;
        margin-left: -40px;
    }


    .linha-edit input {
        width: 60%;
        height: 30px;
        font-size: 14px;
    }


    .linha-edit {
        gap: 10px;
    }


    .edit-desc input {
        height: 40px;
        font-size: 14px;
    }


    .tags-container-edit input {
        width: 100%;
        font-size: 14px;
    }


    .tags-list-edit {
        gap: 1px;
        width: 100%;
    }


    .botoes-edit-pet {
        gap: 10px;
    }


    .botao-edit-salvar,
    .botao-edit-fechar {
        width: 90%;
        height: 40px;
        font-size: 16px;
    }
}