/* .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
} */


.navbar-container{

    display: flex;
    flex-direction: row;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 120px;
    background-color: #84644D;
    box-shadow: 0px 0px 10px 10px #312319
    

}

.botoes-nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}

a{
    font-size: 26px;
}


.nav-img{
    width: 120px;
    margin-right: 20vw;
    align-items: center;
    /* border: solid; */
}

.nav-img:hover{
    cursor: pointer;
}

.botoes-nav a {
    color: #fbfbfb; 
    text-decoration: none; 
    font-family: 'nunito', sans-serif; 
    font-weight: 300; 
    transition: color 0.5s; 
}

.botoes-nav a:hover {
    /* color: #312319; */
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}

.icon-perfil{
    font-size: 50px;
    color: #fbfbfb;
}

.profile{
    height: 60px;
    width: 120px;
}

.loginNav, .cadastroNav {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 170px;
    height: 45px;
    border-radius: 12px;
    letter-spacing: 0.04em;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.loginNav {
    border: none;
    background-color: #EBE5E0;
    color: #312319;
    margin-right: 20px;
    font-family: 'nunito', sans-serif;
}

.cadastroNav {
    border: none;
    color: #F5F5F5;
    background-color: #654833;
    font-family: 'nunito', sans-serif;
}

.loginNav:hover, .cadastroNav:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.loginNav:hover {
    background-color: #D4C9C1;
    color: #312319;
}

.cadastroNav:hover {
    background-color: #543A28;
    color: #F5F5F5;
}

