.ong-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 1rem; */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.ong-image-gerenciamento {
    max-width: 100%;
    height: auto;
    width: 15rem; /* Define um tamanho padrão */
    height: 14rem; /* Define um tamanho padrão */
    object-fit: cover; /* Garante que a imagem seja ajustada sem distorção */
    margin-bottom: 1rem; /* Espaço entre a imagem e o texto */
}