.conteiner-config-conta-ong{
    background-color: #F6F4F1;
    min-height: calc(100vh - 120px);
    width: 58vw;
    padding: 1%;
    flex-direction: column;
    justify-content: center;
}

.container-perfil-ong {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 120px);
}

.inputs-infom-ong{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.texto-e-botao{
    display: flex;
    flex-direction: row;
    gap: 30%;
    /* border: solid; */
}

.texto-e-img-barra{
    /* border: solid; */
    width: 70%;
}

.barra-marro-perfil-ong{
    height: 8px;
    width: 230px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.config-conta-ong-titulo{
    color: #484848;
    font-size: 32px;
}

.inputs-infom-ong{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    /* border: solid; */
}

.input-ongs-mostra-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: solid; */
    width: 320px;
}

.input-1,
.input-2,
.input-3,
.input-4,
.input-5,
.input-6,
.input-7,
.input-8,
.input-9,
.input-10,
.input-12,
.input-13,
.input-14{
    width: 150%;
    height: 40px;
    border: solid 1px #84644D;
    border-radius: 5px;
    border: solid #AD947E 1px;
    box-shadow: 0px 0px 1px;
    background-color: #FBFBFB;
    margin-bottom: 2vh;
    outline: none;
    padding: 10px;
    font: 18px Roboto;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}

.input-ongs-mostra-info .input-6 {
    padding: 5px;
}
.input-ongs-mostra-info .input-6:disabled {
    border: solid 1px #84644D;
    color: black;
    border-right: #fffdfd;
} 

.icon-cadeado{
    width: 38px;
    height: 40px;
    padding-right: 5px;
    color: #84644D;
    background-color: #FBFBFB;
    border: solid #AD947E 1px;
    border-left: none;
    border-radius: 5px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.icon-cadeado-sem-edicao{
    width: 38px;
    height: 40px;
    padding-right: 5px;
    color: #484848;
    background-color: #FBFBFB;
    border: solid #AD947E 1px;
    border-left: none;
    border-radius: 5px;
    border-radius: 0px 5px 5px 0px;
}

.descricao-inputs{
    display: flex;
    align-items: center;
    color: #84644D;
    font-size: 22px;
}

.botao-sair-logout{
    cursor: pointer;
}

.botao-editar-descricao-ong{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    margin-top: 17px;
    background-color: #84644D;
    color: #FBFBFB;
    border-radius: 10px;
    padding: 20px 47px;
    font-size: 20px;
    border: none;
    box-shadow: 0px 0px 1px;
    font-family: Roboto;
    font-weight: 600;
}

.botoes-perfil-ong {
    background-color: #F6F4F1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 160px;
    margin-top: 20px;

}

.botao-editar-perfil-ong {
    height: 55px;
    font-size: 20px;
    background-color: #84644D;
    border-radius: 12px;
    border: none;
    color: #F6F4F1;
    font-weight: 600;
    letter-spacing: 0.025em;
    font-family: Roboto;
    padding: 0px 25px 0px 25px;
    cursor: pointer;
}

.botao-perfil-excluir-ong {
    height: 55px;
    min-width: 200px;
    background-color: #EBE5E0;
    border: 2px solid #84644D;
    border-radius: 10px;
    color: #84644D;
    font-size: 22px;
    font-family: 'Nunito';
    font-weight: 700;
    letter-spacing: 0.03em;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
}


.mostrar-senha{
    display: flex;
    align-items: center;
    position: relative;
    
}

.icon-mostrar-senha-perfil-ong{
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    border: 1px solid #AD947E;
    border-left: none;
    border-right: none;
    font-size: 25px;
    padding-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
