.conteiner-modal-2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    min-height: 60vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 65vw;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    min-height: 90vh;
    padding: 20px;
    border-left: 25px solid #654833;
    justify-content: space-evenly;
    margin-top: 20px;
}

.conteiner-modal-2 input,
.conteiner-modal-2 textarea,
.conteiner-modal-2 select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.conteiner-modal-2 input:focus,
.conteiner-modal-2 textarea:focus,
.conteiner-modal-2 select:focus {
    border-color: #84644D;
    outline: none;
}

.botao_modal_voltar {
    background-color: #84644D;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao_modal_2 {
    background-color: #FFFFFF;
    color: #84644D;
    margin-bottom: 10px;
    font-weight: bold;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao_modal_voltar:hover {
    background-color: #6b4f3a;
    transform: scale(1.05);
}

.botao_modal_2:hover {
    color: #6b4f3a;
    transform: scale(1.05);
}

.botao-enviar-pet {
    background-color: #84644D;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Raleway';
    border: none;
    width: 80%;
    height: 70px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao-enviar-pet:hover {
    background-color: #6b4f3a;
    transform: scale(1.03);
}

.tags-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#input-tag {
    width: 600px;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
}

.tag-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.tag-item {
    display: flex;
    align-items: center;
}

.texto-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: solid 1px #6b4f3a;
    background-color: #EBE5E0;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
    width: fit-content;
}

.add-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    white-space: nowrap;
    cursor: pointer;
    height: 40px;
    width: 55px;
    font-family: 'Nunito';
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    background-color: #EBE5E0;
    color: #6b4f3a;
    transition: 0.3s;
}

.add-tag:hover {
    transform: scale(1.05);
}

.remove-tag {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    margin-left: 2px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    background-color: #EBE5E0;
    color: #6b4f3a;
}

.termos-cadastro-pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: -20px;
}

.tag-button {
    display: flex;
    flex-direction: row;
}

.termos-pet {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #333;
}

.termos-pet input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
    height: 20px;
    width: 100px;
}

.termos-1 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.termos-pet a {
    font-size: 20px;
    text-decoration: none;
    color: #84644D;
    margin-left: 5px;
}

.termos-pet a:hover {
    transform: scale(1);
}

.link-termos:hover {
    color: #6b4f3a;
}

.erro-mensagem-pet {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: rgb(219, 16, 16);
}

.erro-cad-pet {
    min-height: 10px;
}


.condicoes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.condicoes-pet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.condicoes-texto {
    font-size: 22px;
}

.radio-condicoes input[type="radio"] {
    height: 30px;
    width: 20px;
}

.radio-condicoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: 10px;
    gap: 5px;
}

.input-condicao label {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 665px;
}

#input-condicao {
    width: 600px;
    margin: 0;
}

@media (max-width: 1280px) {
    .conteiner-modal-2 {
        width: 90vw;
        padding: 10px;
    }


    .tags-container {
        width: 80vw;
    }


    #input-tag {
        width: 80vw;
    }


    .tag-button {
        width: 80vw;
    }


    .tags-list {
        width: 80vw;
    }


    .tag-item {
        width: 80vw;
    }



    .botao_modal_2 {
        margin-left: 240px;
        width: 40px;
        height: 40px;
        margin-top: -60px;
    }
}