.container-modal-2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    min-height: 60vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 65vw;
    min-height: 90vh;
    padding: 20px;
    border-left: 25px solid #654833;
    justify-content: space-evenly;
    margin-top: 20px;
}

.modal-anunciar-segunda-etapa {
    position: fixed;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* backdrop-filter: blur(2px); */
    /* background-color: rgba(0, 0, 0, 0.2); */
    z-index: 1000;
    overflow-y: auto;
}

.container-modal-2 input,
.container-modal-2 textarea,
.container-modal-2 select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.container-modal-2 input:focus,
.container-modal-2 textarea:focus,
.container-modal-2 select:focus {
    border-color: #84644D;
    /* outline: none; */
}

.botao-modal-voltar {
    background-color: #84644D;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao-modal-2 {
    background-color: #FFFFFF;
    color: #84644D;
    margin-bottom: 10px;
    font-weight: bold;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao-modal-voltar:hover {
    background-color: #6b4f3a;
    transform: scale(1.05);
}

.botao-modal-2:hover {
    color: #6b4f3a;
    transform: scale(1.05);
}

.botao-enviar-pet {
    background-color: #84644D;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Raleway';
    border: none;
    width: 80%;
    height: 70px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao-enviar-pet:hover {
    background-color: #6b4f3a;
    transform: scale(1.03);
}

.tags-container-edit {
    text-align: center;
}

.tags-container-edit input {
    height: 50px;
    width: 450px;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: #EBE5E0;
    /* outline: none; */
    border: 1px solid #3d2b1e;

}

.add-tag-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    white-space: nowrap;
    cursor: pointer;
    height: 40px;
    width: 55px;
    font-family: 'Nunito';
    font-size: 30px;
    font-weight: bold;
    /* margin-bottom: 10px; */
    margin-left: 10px;
    background-color: #EBE5E0;
    color: #6b4f3a;
    transition: 0.3s;
}

.add-tag-edit:hover {
    transform: scale(1.05);
}

.tags-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 46vw;
    flex-wrap: wrap;
    gap: 10px;
    /* margin-top: 10px; */
}



.tags-list-edit {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
    /* width: 100%; */
    /* border: solid; */
}

.tag-edit-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: solid; */
}

.tag-item-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.texto-tag-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: solid 1px #6b4f3a;
    background-color: #EBE5E0;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
    height: 30px;
    font-size: 14px;
    width: fit-content;
    /* margin-bottom: 5px; */
}


.remove-tag {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    /* padding: 5px 10px; */
    justify-content: center;
    cursor: pointer;
    height: 30px;
    margin-left: 5px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    background-color: #EBE5E0;
    color: #6b4f3a;

}


.tags-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#input-tag {
    width: 600px;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
}


.tag-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.tag-item {
    display: flex;
    align-items: center;
}

.texto-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: solid 1px #6b4f3a;
    background-color: #F9F9F9;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
    width: fit-content;
}

.add-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    white-space: nowrap;
    cursor: pointer;
    height: 40px;
    width: 55px;
    font-family: 'Nunito';
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    border: 1px solid #ccc;
    background-color: #F9F9F9;
    color: #6b4f3a;
    transition: 0.3s;
}

.add-tag:hover {
    transform: scale(1.05);
}

.remove-tag {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    margin-left: 2px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    background-color: #F9F9F9;
    color: #6b4f3a;
    border: solid 1px #6b4f3a;
}

.termos-cadastro-pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: -20px;
}

.tag-button {
    display: flex;
    flex-direction: row;
}

.termos-pet {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #333;
}

.termos-pet input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
    height: 20px;
    width: 100px;
}

.termos-1 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.termos-pet a {
    font-size: 20px;
    text-decoration: none;
    color: #84644D;
    margin-left: 5px;
}

.termos-pet a:hover {
    transform: scale(1);
}

.link-termos:hover {
    color: #6b4f3a;
}

.erro-mensagem-pet {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: rgb(219, 16, 16);
}

.erro-cad-pet {
    min-height: 10px;
}


.condicoes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.condicoes-pet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.condicoes-texto {
    font-size: 22px;
}

.radio-condicoes input[type="radio"] {
    height: 30px;
    width: 20px;
    cursor: pointer;
}
#radio-pet-nao input,
#radio-pet-sim input {
    color: #654833;
}

.radio-condicoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: 10px;
    gap: 5px;
}

.input-condicao label {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* width: 665px; */
}

#input-condicao {
    /* width: 600px; */
    width: 38rem;
    margin: 0;
}

.container-input-tag {
    display: flex;
    flex-direction: column;
}

.container-meio-segunda-etapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}



@media (max-width: 1280px) {
    .container-modal-2 {
        width: 90vw;
        padding: 10px;
    }


    .tags-container {
        width: 80vw;
    }


    #input-tag {
        width: 80vw;
    }


    .tag-button {
        width: 80vw;
    }


    .tags-list {
        width: 80vw;
    }


    .tag-item {
        width: 80vw;
    }



    .botao-modal-2 {
        margin-left: 240px;
        width: 40px;
        height: 40px;
        margin-top: -60px;
    }
}