.users-adm-container {
    padding: 20px;
    text-align: center;
}

.title-lista-users {
    color: #543A28;
    margin-bottom: 20px;
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.user-card {
    width: 15%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
    position: relative;
}

.user-photo {
    margin-bottom: 10px;
}

.user-photo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.default-user-icon {
    font-size: 80px;
    color: #ccc;
}

.user-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.user-info p {
    font-size: 16px;
    color: #555;
}

.user-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.botao-excluir-user {
    font-size: 24px;
    color: #84644D;
    cursor: pointer;
    transition: color 0.3s ease;
}

.botao-editar-user {
    font-size: 22px;
    color: #84644D;
    cursor: pointer;
}

.botao-excluir-user:hover {
    color: #84644D;
}

/* Paginação */
.paginacao-usuarios {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 25px;
}

.paginacao-usuarios button {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    color: #654833;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}

.paginacao-ongs button:hover:not(:disabled) {
    background-color: #eee;
}

.paginacao-usuarios button.active {
    background-color: #654833;
    color: #fff;
    font-weight: bold;
}

.paginacao-usuarios button:disabled {
    background-color: #fff;
    color: rgba(8, 8, 8, 0.5);
}

.icon-setaPag {
    font-size: 20px;
}